body{
    background-color: black;
    color: white;
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.contact a {
    color: #FF6347; 
    text-decoration: none;
}

.contact {
    text-align: center;
    margin-top: 40vh;
    
}